body {
	// 400, 600, 800
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 2rem;
	background: $dark-color;
	color: $white-color;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.title {
	font-size: 3.4rem;
	text-transform: uppercase;
	text-align: center;
}